{
 :paths ["src"]

 :deps
 {
   clj-kondo
   {
    ;; XXX: if clj-kondo accepts PR #572 or similar, use upstream?
    :git/url "https://github.com/sogaiu/clj-kondo.git"
    :sha "7750e7aafb68ce40bd7161cf16706c366e668092"
   }
   edamame
   {
    :git/url "https://github.com/borkdude/edamame.git"
    :sha "60cce2871cce9373f1391b8a2caa377a4a47dfc9"
   }
 }
}
