{
 :paths ["src"]

 :deps
 {
   clj-kondo/clj-kondo
   {
    :mvn/version "2020.09.09"
   }
   borkdude/edamame
   {
    :git/url "https://github.com/borkdude/edamame.git"
    :sha "60cce2871cce9373f1391b8a2caa377a4a47dfc9"
   }
 }
}
